.announcement-bar__wrapper  {
  position: relative;
}

.close-announcement {
  position: absolute;
  right: 10px;
  top: 22px;
  display: flex;
  align-items: center;
  z-index: 5;
  color: #fff;
}

.close-announcement svg {
  width: 18px;
  height: 18px;
}

@media (max-width: 550px) {

  .close-announcement {
    display: none;
  }
  
}