.announcement-bar__wrapper  {
  position: relative;
}

.announcement-bar__wrapper .close-announcement {
  position: absolute;
  right: 10px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.announcement-bar__wrapper .close-announcement svg {
  width: 18px;
  height: 18px;
}

@media (max-width: 989px) {

  .announcement-bar__wrapper .close-announcement {
    right: 3px;
  }
  
}