.collection-banner {
  margin: 10px 0;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  
.collection-banner::-webkit-scrollbar {
  display: none;
}

.collection-banner__container {
  padding: 0 16px;
  display: flex;
}

.collection-banner__item {
  padding-right: 16px;
  display: block;

}
* {
    scroll-margin-top: var(--header-height);
    scroll-margin-top: calc(var(--header-height) + 24px);
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    scroll-margin-top: var(--header-height);
    scroll-margin-top: calc(var(--header-height) + 24px);
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
body, .color-background-1, .color-background-2, .color-inverse, .color-accent-1, .color-accent-2 {
    color: rgb(var(--color-foreground));
    background-color: rgb(var(--color-background));
}
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}
.color-accent-1, .color-accent-2, .color-background-1, .color-background-2, .color-inverse, body {
    color: rgb(var(--color-foreground));
    background-color: rgb(var(--color-background));
}
style attribute {
    --header-height: 64px;
}
:root {
    --rivo-aw-background-color: #ffffff;
    --rivo-aw-desktop-sidebar-left: 0px;
    --rivo-aw-desktop-sidebar-right: auto;
    --rivo-aw-desktop-slidein-translate-x: -100%;
    --rivo-aw-desktop-slideout-translate-x: -100%;
    --rivo-aw-heading-font-color: #0d1b2a;
    --rivo-aw-body-primary-font-color: #0d1b2a;
    --rivo-aw-body-secondary-font-color: #99a1a5;
    --rivo-aw-border-color: #eaeaea;
    --rivo-aw-subdued-color: #f7f7f7;
    --rivo-aw-icon-color: #0d1b2a;
    --rivo-aw-primary-color: #0d1b2a;
    --rivo-aw-favorite-button-active-color: #ff5e5e;
    --rivo-aw-toast-offset-left: 15px;
    --rivo-aw-toast-offset-right: auto;
    --rivo-aw-default-font-size: 16px;
    --rivo-aw-input-font-size: 16px;
    --rivo-aw-section-title-font-size: 18px;
    --rivo-aw-logged-out-title-font-size: 24px;
    --rivo-aw-mini-block-title-font-size: 14px;
    --rivo-aw-mini-block-subtitle-font-size: 15px;
    --rivo-aw-login-footer-font-size: 15px;
    --rivo-aw-footer-font-size: 14px;
    --rivo-aw-toast-background-color: #0d1b2a;
    --rivo-aw-toast-font-color: #ffffff;
    --rivo-aw-home-featured-content-image-position: center center;
    --rivo-aw-compare-at-price-color: #c70000;
    --rivo-aw-home-logged-out-title-margin-bottom: 24px;
}
:root {
    --swiper-navigation-size: 15px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --cart-note-color: #D53A67;
}
:root {
    --ns-color-black: #000000;
    --ns-color-white: #FFFFFF;
    --ns-color-grey-light: #F0F3F6;
    --ns-color-grey: #96A9BD;
    --ns-color-grey-dark: #516980;
    --ns-color-primary-light: #D9F0FF;
    --ns-color-primary: #2473D6;
    --ns-color-primary-dark: #16539E;
    --ns-color-link: #2473D6;
    --ns-font-size-5: 1rem;
    --ns-font-size-4: .9rem;
    --ns-font-size-3: 1.4rem;
    --ns-font-size-2: 1.3rem;
    --ns-font-size-1: .25rem;
    --ns-weight-bold: 700;
    --ns-weight-medium: 500;
    --ns-weight-regular: 400;
    --ns-space-5: 1.5rem;
    --ns-space-4: 1rem;
    --ns-space-3: .75rem;
    --ns-space-2: .5rem;
    --ns-space-1: .25rem;
    --ns-border-radius-3: 3px;
    --ns-border-radius-4: 4px;
    --ns-line-height-tiny: 1;
    --ns-z-index-autocomplete: 9000;
    --ns-z-index-sidebar-backdrop: 1051;
    --ns-z-index-sidebar-wrapper: 1052;
    --ns-z-index-sidebar-close: 1053;
    --ns-header-control: 1040;
    --ns-box-shadow-button: inset 0 0 40px rgb(0 0 0 / .25);
    --ns-box-shadow-slider-handle: 0 0 5px var(--ns-color-primary-dark);
    --ns-max-width-search-template: 1500px;
    --ns-max-width-autocomplete: 582px;
    --ns-width-mobile-sidebar: 260px;
    --ns-width-mobile-close-sidebar: 38px;
    --ns-width-icon: 12px;
    --ns-width-input-checkbox: 16px;
    --ns-width-input-checkbox-tick: 5px;
    --ns-height-icon: 12px;
    --ns-height-input-checkbox: 16px;
    --ns-height-input-checkbox-tick: 10px;
}
:root {
    --duration-short: .1s;
    --duration-default: .2s;
    --duration-long: .5s;
}
:root, .color-icon-text {
    --color-icon: rgb(var(--color-base-text));
}
:root, .color-background-1, .color-background-2 {
    --color-card-hover: var(--color-base-text);
}
:root, .color-background-1 {
    --color-badge-background: var(--color-background);
    --color-badge-border: var(--color-foreground);
    --alpha-badge-border: .1;
}
:root, .color-background-1 {
    --color-button: var(--color-base-accent-1);
    --color-button-text: var(--color-base-solid-button-labels);
    --alpha-button-background: 1;
    --alpha-button-border: 1;
}
:root, .color-background-1 {
    --color-link: var(--color-base-outline-button-labels);
    --alpha-link: .85;
}
:root, .color-background-1 {
    --color-foreground: var(--color-base-text);
    --color-background: var(--color-base-background-1);
    --gradient-background: var(--gradient-base-background-1);
    --swiper-navigation-color: var(--color-base-text);
    --swiper-theme-color: var(--color-base-text);
}
:root {
    --font-body-family: Inter, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-heading-family: "DM Sans", sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;
    --color-base-text: 13, 28, 41;
    --color-text: #0d1c29;
    --color-foreground: 13, 28, 41;
    --color-background: 255, 255, 255;
    --color-shadow: 13, 28, 41;
    --color-base-background-1: 255, 255, 255;
    --color-base-background-2: 243, 243, 243;
    --color-base-solid-button-labels: 255, 255, 255;
    --color-base-outline-button-labels: 13, 28, 41;
    --color-base-accent-1: 13, 28, 41;
    --color-base-accent-2: 51, 79, 180;
    --payment-terms-background-color: #FFFFFF;
    --gradient-base-background-1: #FFFFFF;
    --gradient-base-background-2: #F3F3F3;
    --gradient-base-accent-1: #0d1c29;
    --gradient-base-accent-2: #334FB4;
    --media-padding: px;
    --media-border-opacity: 0.05;
    --media-border-width: 1px;
    --media-radius: 0px;
    --media-shadow-opacity: 0.0;
    --media-shadow-horizontal-offset: 0px;
    --media-shadow-vertical-offset: 0px;
    --media-shadow-blur-radius: 0px;
    --media-shadow-visible: 0;
    --page-width: 200rem;
    --page-width-margin: 0rem;
    --card-image-padding: 0.0rem;
    --card-corner-radius: 0.0rem;
    --card-text-alignment: left;
    --card-border-width: 0.0rem;
    --card-border-opacity: 0.0;
    --card-shadow-opacity: 0.1;
    --card-shadow-visible: 1;
    --card-shadow-horizontal-offset: 0.0rem;
    --card-shadow-vertical-offset: 0.0rem;
    --card-shadow-blur-radius: 0.0rem;
    --badge-corner-radius: 0.2rem;
    --popup-border-width: 1px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 8px;
Show all properties (50 more)
}
:root {
    --swiper-navigation-size: 15px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --cart-note-color: #D53A67;
}
:root {
    --duration-short: .1s;
    --duration-default: .2s;
    --duration-long: .5s;
}
:root {
    --color-icon: rgb(var(--color-base-text));
}
.color-background-1, .color-background-2, :root {
    --color-card-hover: var(--color-base-text);
}
.color-background-1, :root {
    --color-badge-background: var(--color-background);
    --color-badge-border: var(--color-foreground);
    --alpha-badge-border: .1;
}
.color-background-1, :root {
    --color-button: var(--color-base-accent-1);
    --color-button-text: var(--color-base-solid-button-labels);
    --alpha-button-background: 1;
    --alpha-button-border: 1;
}
.color-background-1, :root {
    --color-link: var(--color-base-outline-button-labels);
    --alpha-link: .85;
}
.color-background-1, :root {
    --color-foreground: var(--color-base-text);
    --color-background: var(--color-base-background-1);
    --gradient-background: var(--gradient-base-background-1);
    --swiper-navigation-color: var(--color-base-text);
    --swiper-theme-color: var(--color-base-text);
}
html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
::selection {
    background-color: rgba(var(--color-foreground), .2);
}
box-sizingborder-box
colorrgb(0, 0, 238)
cursorpointer
displayblock
font-familyInter, sans-serif
font-size11px
font-stylenormal
font-weight400
height19.7969px
line-height19.8px
margin-block-end0px
margin-block-start5px
margin-bottom0px
margin-inline-end0px
margin-inline-start0px
margin-left0px
margin-right0px
margin-top5px
scroll-margin-top88px
text-aligncenter
text-decoration-colorrgb(0, 0, 238)
text-decoration-linenone
text-decoration-stylesolid
text-decoration-thicknessauto
unicode-bidiisolate
width100px
Rendered Fonts
Family name: OTS derived font
PostScript name: OTS-derived-font
Font origin: Network resource(7 glyphs)
}

.collection-banner__item-image {
  height: 100px;
  width: 100px;
  position: relative;
  overflow: hidden;
}

.collection-banner__item-image img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.collection-banner__item-title {
  margin: 5px 0 0;
  text-align: center;
  font-size: 11px;
  color: var(--color-base-text);
  text-decoration: none;
}

@media screen and (min-width: 750px) { 
  .collection-banner {
    display: none;
  }
}

@media screen and (max-width: 749px) { 
  #shopify-section-header .header-wrapper {
    position: static;
    background: white;
    width: 100%;
  }

  #shopify-section-header .header__heading-logo.logo-light {
    display: none;
  }

  #shopify-section-header .header__heading-logo.logo-dark {
    display: flex;
  }

  #shopify-section-header .header-wrapper:not(.sticky-header-wrapper) .header__heading svg *, #shopify-section-header .header-wrapper:not(.sticky-header-wrapper) .header__icon svg *, #shopify-section-header:not(.sticky-header-enabled) #icon-search * {
    color: rgb(var(--color-base-text));
    fill: rgb(var(--color-base-text));
    stroke: rgb(var(--color-base-text));
  }

  #shopify-section-header .cart-count-bubble {
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
  }
}