.ns-skeleton-wrap div:empty {
  display: block;
}

.ns-skeleton-toolbar {
  width: 160px;
  height: 30px;
  margin: 0 auto;
}

.ns-skeleton-grid {
  margin-top: 15px;
}

.ns-skel-img {
  width: 100%;
  height: 0;
  padding-bottom: 125%;
}

.ns-skel-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 1.3rem;
}

.ns-skel-prodtitle {
  width: 130px;
  height: 22px;
}

.ns-skel-price {
  width: 110px;
  height: 22px;
}

.ns-skel-color {
  width: 60px;
  height: 18px;
}

.ns-skel-swatches {
  width: 140px;
  height: 27px;
}

.ns-skel-reviews {
  width: 150px;
  height: 23px;
}

@media screen and (min-width: 750px) {
  .ns-skeleton-toolbar {
      width: 440px;
      height: 47px;
      margin: 0;
  }

  .ns-skel-prodtitle {
      width: 100px;
  }

  .ns-skel-price {
      display: none;
  }

  .ns-skel-color {
      width: 62px;
  }

  .ns-skel-swatches {
      height: 30px;
  }
}