.rebuy-widget .rebuy-widget-content .primary-title {
  font-size: calc(var(--font-heading-scale)* 4rem);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media {
  order: 1;
  overflow: hidden;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media img {
  transition: transform .5s ease;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media:hover img {
  transform: scale(1.03);
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-wrapper {
  order: 2;
} 

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-review {
  display: none;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(var(--color-foreground));
  font-size: 16px;
  margin-top: 13px !important; 
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-price {
  margin-top: 13px;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-price * {
  font-size: 1.5rem;
  line-height: calc(1 + .5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-actions {
  margin-top: 13px !important;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-actions .rebuy-button {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  border-color: rgba(var(--color-button), var(--alpha-button-background));
  text-transform: uppercase;
}

.rebuy-widget.widget-type-product {
  padding-top: 36px;
  padding-bottom: 36px;
}

.rebuy-widget.widget-type-product .rebuy-widget-content .primary-title {
  font-size: calc(var(--font-heading-scale)* 3rem);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
  text-align: left;
  margin-bottom: 30px;
}

.rebuy-widget .splide__track {
  width: 100%;
}

.rebuy-widget.widget-type-product .rebuy-product-grid .splide__list {
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
}

.rebuy-widget.widget-type-product .rebuy-product-block {
  width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  flex-direction: column;
}

.rebuy-widget.widget-type-product .rebuy-product-wrapper {
  grid-row-start: 2;
  padding: 1.3rem 0;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-media img, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-media img {
  width: 100%;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-info, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale)* 1.5rem);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
  order: 1;
  margin-right: 10px;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-info .rebuy-product-price, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-info .rebuy-product-price {
  margin: 0;
  font-size: 1.5rem;
  line-height: calc(1 + .5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
  order: 2;
}

.rebuy-widget.widget-type-product .rebuy-money.sale {
  color: #ea0606;
}

.rebuy-widget.widget-type-product .rebuy-money {
  margin: 0 1rem 0 0;
}

.rebuy-widget.widget-type-product .rebuy-money.compare-at, 
.rebuy-widget.widget-type-product .rebuy-money {
  color: rgba(var(--color-foreground), .75);
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-actions, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-actions, 
.rebuy-widget.widget-type-product .powered-by-rebuy, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .powered-by-rebuy {
  display: none;
}

@media only screen and (min-width: 750px) {

  .rebuy-widget.widget-type-product .rebuy-widget-content .primary-title {
      font-size: calc(var(--font-heading-scale)* 4rem);
  }

  .rebuy-widget.widget-type-product .rebuy-product-block {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .rebuy-widget.widget-type-product .rebuy-product-wrapper {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }

}


@media only screen and (min-width: 990px) {
  
  .rebuy-widget.widget-type-product .rebuy-product-block {
    width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4) !important;
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
  }
  
}

@media (max-width: 989px) {

  .rebuy-widget .rebuy-widget-content .primary-title {
    font-size: calc(var(--font-heading-scale)* 3rem);
  }

  .rebuy-product-block .rebuy-product-wrapper .rebuy-product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

.close-announcement {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  z-index: 5;
  color: #fff;
}

.close-announcement svg {
  width: 18px;
  height: 18px;
}

.card__inner .inquires__btn {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
  padding: 1.5rem;
  background: rgba(var(--color-background), .9);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  text-decoration: none;
}

.card-product:hover .inquires__btn {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 480px) {

  .close-announcement {
    right: 3px;
    top: 9px;
  }

  body .hc_cd.at_top .hc_cd_heading {
    font-size: 14px !important;
  }

  body .hc_cd.at_top .hc_cd_subheading {
    font-size: 12px !important;
  }
  
  body .hc_cd.at_top .hc_cd_timernum {
    font-size: 16px !important;
  }
  
}



/* corporate-gifting Klaviyo CSS start */

.klaviyo-form-UGk4Ub {
  width: 100%;
  max-width: var(--page-width);
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.klaviyo-form-UGk4Ub * {
  font-family: var(--font-heading-family) !important;
  color: rgb(var(--color-foreground)) !important;
}

.klaviyo-form-UGk4Ub span,
.klaviyo-form-UGk4Ub div {
  line-height: calc(1 + 0.8 / 1.0) !important;
  font-size: 1.5rem !important;
}

.klaviyo-form-UGk4Ub > div {
  max-width: 100%;
  width: 100%;
}

.klaviyo-form-UGk4Ub *:focus,
.klaviyo-form-UGk4Ub *:focus-visible,
.klaviyo-form-UGk4Ub *:focus-within {
  outline: none !important;
}

.klaviyo-form-UGk4Ub .kl-private-reset-css-Xuajs1 h1 *,
.klaviyo-form-UGk4Ub .kl-private-reset-css-Xuajs1 h2 *,
.klaviyo-form-UGk4Ub .kl-private-reset-css-Xuajs1 h3 * {
  font-size: calc(1.0 * 2.4rem) !important;
  line-height: calc(1 + .3 / max(1, 1.0)) !important;
  font-weight: 400 !important;
}

.klaviyo-form-UGk4Ub button.needsclick.go300628013.kl-private-reset-css-Xuajs1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 3rem !important;
  cursor: pointer !important;
  font: inherit;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff !important;
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none !important;
  appearance: none !important;
  border-radius: 3px !important;
  background-color: #0d1c29 !important;
  border: 2px solid transparent !important;
  margin-top: 20px;
}

.klaviyo-form-UGk4Ub button.needsclick.go300628013.kl-private-reset-css-Xuajs1:hover {
  outline: 1px solid #0d1c29 !important;
}

.klaviyo-form-UGk4Ub button#downshift-0-toggle-button {
  display: flex;
  align-items: center;
}

.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1,
.klaviyo-form-UGk4Ub input {
  border-radius: 3px !important;
  border: 1px solid #0d1c29 !important;
}

.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1 input {
  border-radius: 0px !important;
  border: 1px solid transparent !important;
}

.klaviyo-form-UGk4Ub input:focus,
.klaviyo-form-UGk4Ub input:focus-visible,
.klaviyo-form-UGk4Ub input:focus-within {
  outline-width: 2px !important;
  outline-style: auto!important;
  outline-color: #0d1c29!important;
  outline-offset: 0;
}

.klaviyo-form-UGk4Ub input::placeholder {
  font-family: var(--font-heading-family) !important;
}

.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1:focus,
.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1:focus-visible,
.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1:focus-within {
  outline-width: 2px !important;
  outline-style: auto!important;
  outline-color: #0d1c29!important;
  outline-offset: 0;
}

.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1 input:focus,
.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1 input:focus-visible,
.klaviyo-form-UGk4Ub .needsclick.go4213795584.kl-private-reset-css-Xuajs1 input:focus-within {
  outline: none !important;
}

.klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"] {
  max-width: 100%;
  width: 100%;
}

.klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-last-child(2) {
  max-width: 920px;
}

.klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"] .kl-private-reset-css-Xuajs1 label {
  min-width: 280px;
  padding-bottom: 30px !important;
}

@media screen and (min-width: 750px) {
  
  .klaviyo-form-UGk4Ub {
    padding: 0 5rem;
  }

  .klaviyo-form-UGk4Ub * {
    font-family: var(--font-heading-family) !important;
    color: rgb(var(--color-foreground)) !important;
    line-height: calc(1 + 0.8 / 1.0) !important;
    font-size: 1.6rem !important;
  }
}

@media screen and (max-width: 1024px) {

  .klaviyo-form-UGk4Ub .kl-private-reset-css-Xuajs1 h1 *,
  .klaviyo-form-UGk4Ub .kl-private-reset-css-Xuajs1 h2 *,
  .klaviyo-form-UGk4Ub .kl-private-reset-css-Xuajs1 h3 * {
    font-size: calc(1.0 * 2rem) !important;
    line-height: calc(1 + .3 / max(1, 1.0)) !important;
    font-weight: 400 !important;
  }
  
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(3),
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(4),
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(5) {
    max-width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: unset !important;
  }

  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(3) [data-testid="form-component"],
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(4) [data-testid="form-component"],
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(5) [data-testid="form-component"] {
    flex: unset !important;
  }
  
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(3) [data-testid="form-component"] > div,
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(4) [data-testid="form-component"] > div,
  .klaviyo-form-UGk4Ub form[data-testid="klaviyo-form-UGk4Ub"] > div div[data-testid="form-row"]:nth-child(5) [data-testid="form-component"] > div {
    width: 100% !important;
  }

  .klaviyo-form-UGk4Ub form[data-testid=klaviyo-form-UGk4Ub] > div div[data-testid=form-row] .kl-private-reset-css-Xuajs1 label {
    padding-bottom: 10px !important;
    width: auto;
  }
  
}

/* Corporate Gifting Form */
.globo-form-app {
  max-width: 1200px;
}

.globo-heading {
  font-size: 24px !important;
  font-weight: 400 !important;
}

.globo-description p {
  font-size: 15px;
  font-weight: 400;
}

.gfb-style-material_outlined .gfb_material_outlined .gfb__outline-start,
.gfb-style-material_outlined .gfb_material_outlined .gfb__outline-end {
  border-radius: 0 !important;
}

.globo-form-app .gfb__footer button {
  padding: 20px 30px !important;
  font-size: 15px !important;
  border-radius: 3px !important;
}

html:not(.third-party-scripts-loaded) body.template--index [id*="nosto_nosto_placements_block"],
html:not(.third-party-scripts-loaded) #shopify-pc__banner,
html:not(.third-party-scripts-loaded) [aria-label="Alia popup"] {
  display: none !important;
}

.gwp-disabled-quantity {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

/* WAIR */
.wair-modal__wrapper {
  align-items: flex-end !important;
}

.wair-css {
  display: flex !important;
  align-items: flex-end !important;
  padding-bottom: 5px !important;
}

@media (max-width: 749px) {
  .wair-css {
    padding-bottom: 3px !important;
  }
}

#wair-fit-advisor:hover {
  opacity: 1 !important;
}

.wair-launch-btn {
  height: 17.5px !important;
}

button#wair-fit-advisor > span,
button#wair-fit-advisor > span > span {
  font-size: 1.3rem !important;
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-underline-offset: 0.3rem !important;
  text-decoration-thickness: 0.1rem !important;
}

button#wair-fit-advisor > span:hover,
button#wair-fit-advisor > span > span:hover {
  color: inherit !important;
  text-decoration-thickness: 0.2rem !important;
}

.product-form__input input[type=radio][name=Color]+label {
  width: 2.5rem !important;
  height: 2.6rem !important;
}

.product-form__input input[type=radio]+label {
  font-size: 1rem !important;
  padding: 0.5rem !important;
}

@media screen and (max-width: 749px) {
  .product-form__input input[type=radio][name=Color]+label {
    width: 1.5rem !important;
    height: 1.5rem !important;
    min-width: 1.5rem !important;
  }

  .product-form__input input[type=radio]+label {
    min-width: 3rem !important;
    height: 2.5rem !important;
    line-height: 1.2rem !important;
    font-size: 1rem !important;
    margin: .5rem .55rem .2rem 0 !important;
    padding: 5px !important;
  }
}

@media screen and (min-width: 990px) {
  .template--index .slider--desktop .slider__slide:first-child {
    margin-left: 0;
  }
  .template--index .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc(33.33% - 16px);
  }
  .template--index .slider--desktop {
    scroll-padding-left: 0;
  }
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .template--index .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 749px) {
  .template--index .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item, .grid--peek .grid__item {
    width: 100%;
    max-width: 100%;
  }
}

.homepage-nosto-custom .page-width {
  max-width: 100%;
}