.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media {
  order: 1;
  overflow: hidden;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media img {
  transition: transform .5s ease;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media:hover img {
  transform: scale(1.03);
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-wrapper {
  order: 2;
} 