.rebuy-widget .rebuy-widget-content .primary-title {
  font-size: calc(var(--font-heading-scale)* 4rem);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media {
  order: 1;
  overflow: hidden;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media img {
  transition: transform .5s ease;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-media:hover img {
  transform: scale(1.03);
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-wrapper {
  order: 2;
} 

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-review {
  display: none;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(var(--color-foreground));
  font-size: 16px;
  margin-top: 13px !important; 
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-price {
  margin-top: 13px;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-info .rebuy-product-price * {
  font-size: 1.5rem;
  line-height: calc(1 + .5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-actions {
  margin-top: 13px !important;
}

.rebuy-product-block .rebuy-product-wrapper .rebuy-product-actions .rebuy-button {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  border-color: rgba(var(--color-button), var(--alpha-button-background));
  text-transform: uppercase;
}

.rebuy-widget.widget-type-product {
  padding-top: 36px;
  padding-bottom: 36px;
}

.rebuy-widget.widget-type-product .rebuy-widget-content .primary-title {
  font-size: calc(var(--font-heading-scale)* 3rem);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
  text-align: left;
  margin-bottom: 30px;
}

.rebuy-widget .splide__track {
  width: 100%;
}

.rebuy-widget.widget-type-product .rebuy-product-grid .splide__list {
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
}

.rebuy-widget.widget-type-product .rebuy-product-block {
  width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  flex-direction: column;
}

.rebuy-widget.widget-type-product .rebuy-product-wrapper {
  grid-row-start: 2;
  padding: 1.3rem 0;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-media img, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-media img {
  width: 100%;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-info, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale)* 1.5rem);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
  order: 1;
  margin-right: 10px;
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-info .rebuy-product-price, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-info .rebuy-product-price {
  margin: 0;
  font-size: 1.5rem;
  line-height: calc(1 + .5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
  order: 2;
}

.rebuy-widget.widget-type-product .rebuy-money.sale {
  color: #ea0606;
}

.rebuy-widget.widget-type-product .rebuy-money {
  margin: 0 1rem 0 0;
}

.rebuy-widget.widget-type-product .rebuy-money.compare-at, 
.rebuy-widget.widget-type-product .rebuy-money {
  color: rgba(var(--color-foreground), .75);
}

.rebuy-widget.widget-type-product .rebuy-product-block .rebuy-product-actions, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .rebuy-product-block .rebuy-product-actions, 
.rebuy-widget.widget-type-product .powered-by-rebuy, 
.rebuy-widget.widget-type-product .rebuy-recommended-products .powered-by-rebuy {
  display: none;
}

@media only screen and (min-width: 750px) {

  .rebuy-widget.widget-type-product .rebuy-widget-content .primary-title {
      font-size: calc(var(--font-heading-scale)* 4rem);
  }

  .rebuy-widget.widget-type-product .rebuy-product-block {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .rebuy-widget.widget-type-product .rebuy-product-wrapper {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }

}


@media only screen and (min-width: 990px) {
  
  .rebuy-widget.widget-type-product .rebuy-product-block {
    width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4) !important;
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
  }
  
}

@media (max-width: 989px) {

  .rebuy-widget .rebuy-widget-content .primary-title {
    font-size: calc(var(--font-heading-scale)* 3rem);
  }

  .rebuy-product-block .rebuy-product-wrapper .rebuy-product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

.close-announcement {
  position: absolute;
  right: 10px;
  top: 22px;
  display: flex;
  align-items: center;
  z-index: 5;
  color: #fff;
}

.close-announcement svg {
  width: 18px;
  height: 18px;
}

@media (max-width: 749px) {

  .close-announcement {
    right: 3px;
    top: 18px;
  }
  
}

@media screen and (max-width: 480px) {

  body .hc_cd.at_top .hc_cd_heading {
    font-size: 14px !important;
  }

  body .hc_cd.at_top .hc_cd_subheading {
    font-size: 12px !important;
  }
  
  body .hc_cd.at_top .hc_cd_timernum {
    font-size: 16px !important;
  }
  
}
