.image-text-video__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 749px) {

  .image-text-video__wrapper {
    display: block;
  }
}

.image-text-video .image-with-text__media-item {
  flex: 1;
}

.image-text-video__content {
  flex: 1;
}

.image-text-video__content-inner {
  padding: 15%;
  max-width: 800px;
  width: 100%;
}

@media screen and (max-width: 749px) {

  .image-text-video__content-inner {
    padding: 0;
  }
}

.image-text-video__heading {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.image-text-video__subheading {
  margin: 0;
}

.image-text-video__cta {
  margin-top: 40px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.17px;
  background: none;
  border: 1px solid rgb(var(--color-foreground));
  color: rgb(var(--color-foreground));
  padding: 10px 25px;
  cursor: pointer;
}
