
":root {
    --lc-product-card-title-font-color: #121212;
    --lc-product-card-title-font-size: 0.9rem;
    --lc-product-card-title-font-weight: 500;
    --lc-product-price-font-size: 0.9rem;
    --lc-product-price-font-color: #121212;
}"


ambassador-hero-block {
--lc-font-primary-color: #FFFFFF;
  /* top right corner button properties */
  --creator-btn-color: white;
  --creator-btn-padding: 8px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

  ambassador-feed-block {

    --lc-navbar-border-radius: 0px;
    --lc-navbar-active-tile-border-radius: 0px; }