quick-add {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
  padding: 1.5rem;
  background: rgba(var(--color-background),0.9);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}


.card-product:hover quick-add {
  opacity: 1;
  visibility: visible;
}


.quick-add__colors {
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}

.klaviyo-star-rating-widget {
  margin-top: 0.5rem;
}

.quick-add__button {
  background: 0;
  border: 0;
  padding: 5px;
  cursor: pointer;
}
.quick-add__button[selected] {
  border: var(--inputs-border-width) solid rgba(var(--color-foreground),var(--inputs-border-opacity));
}

.quick-add__button:not([selected]):hover {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 3px rgba(var(--color-foreground),0.25);
}

.quick-add__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.quick-add__button--color {
  border: var(--variant-pills-border-width) solid rgba(var(--color-foreground),var(--variant-pills-border-opacity));
  margin: 2px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.quick-add__button--color[selected] {
  border: var(--inputs-border-width) solid rgba(var(--color-foreground), .5);
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgba(var(--color-foreground), .5);
}

.quick-add__colors .link {
  display: inline-block;
  color: rgba(var(--color-foreground),0.5);
  text-decoration: none;
  position: relative;
  margin-left: 0.5rem;
  top: 0.5rem;
  font-size: 1.3rem;
}

.card__selected-color {
  opacity: 0.5;
  display: block;
  margin-top: -0.15rem !important;
}

@media screen and (max-width: 749px) {
  .quick-add__button--color {
    width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    padding: 0;
  }
}

.quick-add__add-button {
  display: block;
  width: 100%;
  height: 100%;
}