.product-recommendations {
  display: block;
}

.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0;
}

.product-recommendations__heading,
.rebuy-widget-content .primary-title {
  margin: 0;
  margin-bottom: 3rem;
}

.product-recommendations .rebuy-widget {
  padding: 0;
}

.product-recommendations .rebuy-widget-content .primary-title {
  font-size: calc(var(--font-heading-scale) * 3rem);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3/max(1,var(--font-heading-scale)));
  word-break: break-word;
  text-align: left;
}

.product-recommendations .rebuy-product-grid {
  justify-content: flex-start;
}

.rebuy-widget .splide__track {
  width: 100%;
}

.product-recommendations .rebuy-product-grid .splide__list {
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
}

.product-recommendations .rebuy-widget .rebuy-product-block {
  width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  flex-direction: column;
}

.product-recommendations .rebuy-widget .rebuy-product-media {
  order: unset;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-media img, 
.product-recommendations .rebuy-recommended-products .rebuy-product-block .rebuy-product-media img {
  width: 100%;
}

.product-recommendations .rebuy-product-wrapper {
  grid-row-start: 2;
  padding: 1.3rem 0;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-info, 
.product-recommendations .rebuy-recommended-products .rebuy-product-block .rebuy-product-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-price, 
.product-recommendations .rebuy-recommended-products .rebuy-product-block .rebuy-product-info .rebuy-product-price {
  margin: 0;
  font-size: 1.5rem;
  line-height: calc(1 + .5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
  order: 2;
}

.product-recommendations .rebuy-money.sale, 
.product-recommendations .rebuy-widget .rebuy-money.sale {
  color: #ea0606;
}

.product-recommendations .rebuy-money.compare-at, 
.product-recommendations .rebuy-widget .rebuy-money.compare-at,
.product-recommendations .rebuy-money, 
.product-recommendations .rebuy-widget .rebuy-money {
  color: rgba(var(--color-foreground), .75);
}

.product-recommendations .rebuy-money, 
.product-recommendations .rebuy-widget .rebuy-money {
  margin: 0 1rem 0 0;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable, 
.product-recommendations .rebuy-recommended-products .rebuy-product-block .rebuy-product-info .rebuy-product-title.clickable {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + .3/max(1,var(--font-heading-scale)));
  word-break: break-word;
  order: 1;
  margin-right: 10px;
}

.product-recommendations .rebuy-widget .rebuy-product-review, 
.product-recommendations .rebuy-recommended-products .rebuy-product-review {
  order: 3;
  max-width: 100%;
  width: 100%;
  text-align: left;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-actions, 
.product-recommendations .rebuy-recommended-products .rebuy-product-block .rebuy-product-actions,
.product-recommendations .rebuy-widget .powered-by-rebuy, 
.product-recommendations .rebuy-recommended-products .powered-by-rebuy {
  display: block;
}

.rebuy-widget .rebuy-product-grid .rebuy-product-block .rebuy-product-wrapper {
  padding: 1.3rem 1rem;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title {
  margin: 0 !important;
}

.product-recommendations .rebuy-color-label {
  border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  margin: 2px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.product-recommendations .rebuy-color-label:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgba(var(--color-foreground), .25);
}

.product-recommendations .rebuy-color-input:checked+.rebuy-color-label {
  border: var(--inputs-border-width) solid rgba(var(--color-foreground), .5);
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgba(var(--color-foreground), .5);
}

.product-recommendations .rebuy-color-swatches{
  justify-content: start;
  gap: 5px;
  margin-left: 1px;
}

.product-recommendations .rebuy-widget .rebuy-product-block .rebuy-product-options {
  margin-top: 5px;
  z-index: 2;
  position: relative;
}

.product-recommendations .rebuy-product-wrapper .rebuy-size-swatches {
  display: none;
}

.product-recommendations .rebuy-widget .rebuy-product-media {
  position: relative;
}

.product-recommendations .rebuy-widget .rebuy-product-block .quick-add { 
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
  padding: 1.5rem;
  background: rgba(var(--color-background), .9);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
}

.product-recommendations .rebuy-widget .rebuy-product-block .quick-add .rebuy-size-swatch {
  display: inline-block;
}

.product-recommendations .rebuy-widget .rebuy-product-block .quick-add .rebuy-size-label {
  font-size: 13.3333px;
  line-height: 1;
  margin-right: 4px;
  min-width: unset;
  background: 0;
  border: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 0;
}

.product-recommendations .rebuy-widget .rebuy-product-block .quick-add .rebuy-size-label:not([selected]):hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgba(var(--color-foreground), .25);
}

.product-recommendations .rebuy-size-input:checked + .rebuy-size-label {
  border: var(--inputs-border-width) solid rgba(var(--color-foreground), var(--inputs-border-opacity); 
}

.product-recommendations .rebuy-widget .rebuy-product-block:hover .quick-add {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 750px) {

  .product-recommendations .rebuy-widget-content .primary-title {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }

  .product-recommendations .rebuy-widget .rebuy-product-block {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .product-recommendations .rebuy-product-wrapper {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
  
}

@media only screen and (min-width: 990px) {

  .product-recommendations .rebuy-widget .rebuy-product-block {
    width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4) !important;
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
  }
  
}
