.column.add-padding {
  margin: 80px 0;
}

.columns__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column.add-padding .columns__container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
}

.columns__item {
  aspect-ratio: 1 / 1;
  padding: 40px;
  display: flex;
}

.columns__item.top-center {
  justify-content: center;
}

.columns__item.top-right {
  justify-content: end;
}

.columns__item.middle-left {
  align-items: center;
}

.columns__item.middle-center {
  align-items: center;
  justify-content: center;
}

.columns__item.middle-right {
  align-items: center;
  justify-content: end;
}

.columns__item.bottom-left {
  align-items: end;
}

.columns__item.bottom-center {
  align-items: end;
  justify-content: center;
}

.columns__item.bottom-right {
  align-items: end;
  justify-content: end;
}