.blog-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
  margin-top: 25px;
}

.blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing); 
  }
}

@media screen and (min-width: 990px) {
  .blog-articles {
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}

.blog-articles__logo {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 768px) {

  .blog-articles__logo {
    height: 80px;
  }
}